@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --dark-accent: #21232e;
    --danger: #D32F2F;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;

    max-width: 960px;

    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--light)
}

body {
    background-color: var(--grey);
    color: var(--dark);

}

body.dark  {
    background-color: var(--dark-accent);
    color: var(--light);

}

body.dark .wrapper {
    background-color: var(--dark);
    color: var(--light);

}

body.dark a {
   
    color: var(--light);

}

body.dark .header {
    background-color: var(--dark);
    color: var(--light);

}

body.dark .gridStyle:hover {
    background-color: var(--dark-accent);
    color: var(--dark);

}


body.dark .header a.active {
    background-color: var(--dark-accent);
    color: var(--light);

}

body.dark .header a.active {
    background-color: var(--dark-accent);
    color: var(--light);

}

body.dark .header #DarkModeButton{
    background-color: var(--dark);
    color: var(--light);

}
body.dark .header #DarkModeButton:hover{
    background-color: var(--grey);
    color: var(--dark);

}

body.dark .material-symbols-outlined{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}



h1 {
    text-align: center;
    padding: 100px 0px 50px 0px;
    font-size: 80px;
    letter-spacing: -7px;

}

h2 {
    text-align: center;
    padding: 0px 25px 25px 25px;
    font-size: 30px;
    letter-spacing: 2px;
}

p {
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    font-style: italic;

}

a {
    color: var(--dark);
    text-decoration: none;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 2 / 2 / 3;
}

.div2 {
    grid-area: 1 / 3 / 2 / 4;
}

.div3 {
    grid-area: 1 / 4 / 2 / 5;
}

.div4 {
    grid-area: 2 / 2 / 3 / 3;
}

.div5 {
    grid-area: 2 / 3 / 3 / 4;
}

.div6 {
    grid-area: 2 / 4 / 3 / 5;
}

.div7 {
    grid-area: 3 / 2 / 4 / 5;
}


.gridStyle {
    text-align: center;
    border-radius: 30px;
    transition: 0.1s;
    transition-timing-function: ease-in-out;
}

.gridStyle:hover {
    background-color: var(--light-primary);
    transform: scale(1.1);
}


#DarkModeButton {
    background-color: var(--grey);
    border-radius: 4px;
    border-style: none;
    padding: 12px 20px 8px 20px;
    color: #363949;

}

#DarkModeButton:hover {
    background-color: #ddd;
    color: black;

}

#group {
    padding-right: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: var(--grey);
    padding: 20px 10px;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    transition: 0.5s;
    transition-timing-function: ease-in-out;
}

.header:hover {

    transform: scale(1.005);
    box-shadow: 1px 23px 24px -11px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 1px 23px 24px -11px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 1px 23px 24px -11px rgba(0, 0, 0, 0.50);

}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active/current link*/
.header a.active {
    background-color: var(--primary);
    color: white;
}

/* Float the link section to the right */
.header-right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    
    .header-right {
        float: none;
    }
}

/* Responsive grid CSS Code here will only be executed on a screen with a width below 600px */
@media screen and (max-width: 720px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / auto / 4;
    }

    .div2 {
        grid-area: 2 / 1 / auto / 4;
    }

    .div3 {
        grid-area: 3 / 1 / auto / 4;
    }

    .div4 {
        grid-area: 4 / 1 / auto / 4;
    }

    .div5 {
        grid-area: 5 / 1 / auto / 4;
    }

    .div6 {
        grid-area: 6 / 1 / auto / 5;
    }

    .div7 {
        grid-area: 7 / 1 / auto / 5;
    }
}
.img1 {
    margin-left: 15%;
    position: relative;
    padding-top: 10%;
}

canvas {
    justify-items: center;
    position: relative;
}

.repoLink {
    text-align: center;
    margin-left: 50%;
    font-size: 18px;
    font-style: italic;
    color: #1976D2;
}